.header-container {
  height: 80vh;
  position: relative;
  width: 100%;
  background-image: url('../../../images/hero-banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 150px;
    height: 60px;
    outline: none;
  }

  .header-content {
    color: #fff;

    .content-icon-wrap {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      width: fit-content;
      padding-bottom: 10px;
      border-bottom: 2px solid #fff;

      img {
        width: 150px;
        height: 60px;
      }

      .directory {
        margin-left: 20px;
        font-size: 45px;
        font-weight: 700;
      }
    }
    .starwars-note {
      width: 70%;
      margin: 15px auto;
      font-size: 20px;
      color: #c3bfbf;
    }

    .search-box {
      flex-direction: row;
      width: 70%;
      margin: 0 auto;
      position: relative;
      display: flex;
      align-items: center;

      input[type='search'] {
        width: 100%;
        padding: 15px 0;
        padding-left: 15%;
        font-size: 20px;
        border-radius: 5px;
        background: #cccccc;
        border: none;
        outline: none;
      }

      i.fa.fa-search {
        position: absolute;
        font-size: 30px;
        left: 5%;
        color: #696868;
      }

      .spinner-border {
        position: absolute;
        right: 3%;
        color: #000;
      }
    }
  }
}

.carousel {
  width: 100%;
}

.carousel-inner {
  width: 100%;
  margin: 0 auto;

  img {
    width: 200px;
    height: 400px;
    object-fit: cover;
  }
}

ol.carousel-indicators,
.sr-only {
  display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  bottom: 15%;
}

.carousel-control-prev,
.carousel-control-next {
  bottom: -15%;
  z-index: 1;
  width: 100% !important;
  position: absolute;
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  right: 10%;
}

.carousel-control-next-icon {
  right: 0;
}

i.fas.fa-caret-left,
i.fas.fa-caret-right {
  font-size: 30px;
  border: 3px solid #fff;
  padding: 14px 25px;
  border-radius: 50%;
  cursor: pointer;
}

.caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 15%;
  bottom: 10%;
  z-index: 9999;

  .bracket {
    font-size: 100px;
  }

  .text {
    font-size: 50px;
    font-weight: bold;
    margin-top: 17px;
  }
}

.navigate {
  min-width: 10%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 10%;
  bottom: 15%;
  z-index: 9999;
}
